h1 Account does not exist or wrong password!
p Redirecting you back to the login  page...
script.
    window.onload = function() {
        setTimeout(()=> {
            window.location = "/login";
        }, 3000)
    }