h1 Invalid login, please login again
p Redirecting you back to the login  page...
script.
    window.onload = function() {
        setTimeout(()=> {
            window.location = "/login";
        }, 3000)
    }