h1 Account already exists!
p Redirecting you back to the register page...
script.
    window.onload = function() {
        setTimeout(()=> {
            window.location = "/register";
        }, 3000)
    }